.login-shift {
  position: absolute;
  left: 5px; 
}

body {
  margin-top: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h1{
  justify-content: center;
}
h3 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
  padding: 20px 10px 10px 10px;
}
.text-center{
  text-align: center;
}
.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 15px 0;
}

.column {
	flex: 1;
  justify-content: center;  
  border-radius: 10px;
  position:relative;
  background: #f0f0f1;
  box-shadow: inset 0 -8px 16px 0 #d3d3d3;
  height: auto;
  vertical-align: middle;
	margin: 40px;
	padding: 10px;
}
@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
.bargraph-title{
  margin: 10px;
  font-weight: bold;
}
.bar-container{
  width: 80% !important;
  float: left;
  height: 100%;
  top: 50%;
  display: block;
  vertical-align: middle;
}
.con-container {
  background-color: #c3cbdc;
background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);

  margin: 0px !important;
  width: 95%;
  max-width: 320px;
  min-height: 568px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 9px 13px 0px black;
  -moz-box-shadow: 0px 9px 13px 0px black;
  box-shadow: 0px 9px 13px 0px black;
  -webkit-transform: scale(1);
}
/*
nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
}
.NavComp{
  padding: 10%;
}
.NavComp:hover {
  text-decoration: underline;
  color: black;
}
*/

.survey-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.survey-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

.take-survey-button {
  text-decoration: none;
  color: blue;
  padding: 16px 0 0 0;
  font-weight: bold;
}

.retake-survey-button {
  text-decoration: none;
  color: rgb(45, 19, 192);
}


.review-survey-button {
  text-decoration: none;
  color: blue;
  padding: 16px 0 0 0;
  font-weight: bold;
}

.centered-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
}

.panel-border{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.points-text{
  font-size: 80px;
  font-weight: bold;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.points-view{
  opacity: 0;
  align-self: center;
  width: 100%;
  height:auto;
}
.wrapper{
  position: relative;
}

.wrapper .panel-border{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 1;
}
.small-wrapper{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.progress{
  position: relative;
}
.panel-progress{
  top: 130%;
}
.footer{
  margin-bottom: 15px;
}
.footer-center{
  text-align: center;
}
.panel-row{
  flex-grow: 2;
  padding-bottom: 10%;
}

#other-survey-list-heading {
  padding-top: 50px;
  padding-bottom: 5px;
}

#description {
  padding-top: 5px;

}

#description-title {
  padding-bottom: 10px;
  text-align: center;
}

#milestone-progress-title {
  text-align: center;
  margin-bottom: 10px;
}
/* Analysis Tab*/
#category {
  height: 20%;
  width: auto;
  position: relative;
  font-size: 0.6em;
  font-weight: bolder;
  justify-content: center;
  font-family: monospace;
  margin: 5px;
  color: #fff; 
}

.panel-item {
padding: 8px 4px;
transition: opacity 0.2s ease, transform 0.2s ease;
}

.progress {
display: flex;
align-items: center;
padding: 20px 24px;
border-radius: 4px;
background: linear-gradient(#222328, #18191c);
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4), inset 2px -2px 2px rgba(0, 0, 0, 0.4), 0 -2px 2px rgba(255, 255, 255, 0.02), 2px -2px 2px rgba(255, 255, 255, 0.02), inset 2px -2px 2px rgba(255, 255, 255, 0.02);
}

.progress-label {
font: 14px 'Lato', sans-serif;
float: left;
text-shadow: 2px 2px 4px #000;
color: #f1f1f1;
margin: 2px;
flex-shrink: 0;
}

.progress-line {
height: 18px;
border-radius: 9px;
background-color: rgba(0, 0, 0, 0.3);
width: 100%;
margin: 0 24px;
}

.progress-name {
width: 100px;
text-align: right;
}

.progress-theme-1 {
background: linear-gradient(to right, #ff7b02, #ffcb52);
}

.progress-theme-2 {
background: linear-gradient(to right, #5c27fe, #4798e4);
}

.progress-theme-3 {
background: linear-gradient(to right, #dd2323, #fc43a8);
}

.progress-theme-4 {
background: linear-gradient(to right, #13c403, #8ae95e);
}

.progress-active {
height: 100%;
width: 50%;
transition: opacity 0.2s ease, transform 0.2s ease, width 1s ease;
border-radius: inherit;
position: relative;
}
.progress-active:after {
content: " ";
position: absolute;
display: block;
border-radius: inherit;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: inherit;
filter: blur(6px);
transform: translateZ(0);
}

.panel {
width: 650px;
margin: 0 auto;
user-select: none;
}
.panel:hover .panel-item {
opacity: 0.2;
}
.panel:hover .panel-item:hover {
opacity: 1;
transform: scale(1.1);
cursor: pointer;
}
.panel:hover .panel-item:hover .progress-active {
width: 100% !important;
}

/* Navbar */
.inl-logo{
	height: 50px;
	width: auto;
}
.inl-logo:hover{
	-webkit-filter: drop-shadow(5px 5px 5px rgb(206, 206, 206));
	transition: 0.5s;
}
body {
	margin: 0px;
	font-family: 'segoe ui';
}
  
.nav-tab {
	color: #07519E;
	font-size: 18px;
	margin: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}
.nav-tab:hover{
	color:coral;
	transition: 0.2s;
}
.navbar-main{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	box-shadow: 0 0 5px grey;
}
.navbar-toggler{
	border: none !important;
}

@import url("https://use.typekit.net/lme8oom.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Readex+Pro&family=Varela+Round&display=swap');

/* Category Cards */
* {
  box-sizing: border-box;
}
body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 340px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.card[data-state="#about"] {
  height: 450px;
}
   
.card .card-main {
    padding-top: 0;
}


.card[data-state="#contact"] {
  height: 430px;
}

.card[data-state="#experience"] {
  height: 550px;
}

.card.is-active .card-header {
    height: 80px;
  }

.card.is-active .card-cover {
    height: 100px;
    top: -50px;
  }

.card.is-active .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

.card.is-active .card-categoryname,
.card.is-active .card-resilience {
    left: 86px;
    transform: none;
  }

.card.is-active .card-categoryname {
    bottom: 18px;
    font-size: 19px;
  }

.card.is-active .card-resilience {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
  }

.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}
* {
    transition: 0.3s;
  }


.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-score {
  position: absolute;
  bottom: 65px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-score-sm {
  position: absolute;
  top: -38px;
  font-size: 20px;
  font-weight: 600;
  transform: translateY(-10px) translateX(-42%);
}

.card-categoryname {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-resilience {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding: 20px;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}

.card-buttons button {
    flex: 1 1 auto;
    user-select: none;
    background: 0;
    font-size: 13px;
    border: 0;
    padding: 15px 5px;
    cursor: pointer;
    color: #5c5c6d;
    transition: 0.3s;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    outline: 0;
    border-bottom: 3px solid transparent;
}

.card-buttons .is-active,
.card-buttons .is-active :hover {
      color: #2b2c48;
      border-bottom: 3px solid #8a84ff;
      background: linear-gradient(
        to bottom,
        rgba(127, 199, 231, 0) 0%,
        rgba(207, 204, 255, 0.2) 44%,
        rgba(211, 226, 255, 0.4) 100%
      );
    }

.card-section {
  display: none;
}


.card-section.is-active {
    display: block;
    animation: fadeIn 0.6s both;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transm: translatey(40px);
  }
  100% {
    opacity: 1;
  }
}

.card-timeline {
  margin-top: 30px;
  position: relative;
}

.card-timeline :after {
    background: linear-gradient(
      to top,
      rgba(134, 214, 243, 0) 0%,
      rgba(81, 106, 204, 1) 100%
    );
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;
}

.card-item :last-child {
    padding-bottom: 5px;
}

.card-item :after {
    content: attr(data-year);
    width: 10px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid #fff;
    font-size: 11px;
    text-indent: -35px;
    border-radius: 50%;
    color: rgba(#868686, 0.7);
    background: linear-gradient(
      to bottom,
      lighten(#516acc, 20%) 0%,
      #516acc 100%
    );
}


.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: 20px;
}

.card-contact {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6f6f7b;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;
}

.card-contact + .card-contact {  
  margin-top: 16px;  
}

.card-contact img {
  flex-shrink: 0;
  width: 50px;
  min-height: 34px;
  margin-right: 12px;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid #dfe2ec;
}

.card-incomplete {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #6f6f7b;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;
}

.card-incomplete img {
  flex-shrink: 0;
  width: 50px;
  min-height: 34px;
  margin-right: 12px;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid #dfe2ec;
}

.card-incomplete-txt {
  margin-top: 20px;
}

.improvment-plan {
  border: 0;
  outline: none;
  background: linear-gradient(
    to right,
    rgba(83, 200, 239, 0.8) 0%,
    rgba(81, 106, 204, 0.8) 96%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}

.take-survey {
  border: 0;
  outline: none;
  background: rgba(83, 200, 239, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}

.update-survey {
  border: 0;
  outline: none;
  background: rgba(81, 106, 204, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

/* HOME PAGE */

.title {
  width: auto;
  position: relative;
  font-weight: bolder;
  font-size: 40px;
  font-weight: 700;
}
.inl {
  font-size: 15px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}