.login-shift {
  position: absolute;
  left: 5px; 
}

body {
  margin-top: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 10px;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h1{
  justify-content: center;
}
h3 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
  padding: 20px 10px 10px 10px;
}
.text-center{
  text-align: center;
}
.columns {
  position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 15px 0;
}
.center-column {
  text-align: center;
}
.column {
	flex: 1;
  display: inline-block;
  justify-content: center;  
  border-radius: 10px;
  position:relative;
  background: #f0f0f1;
  box-shadow: inset 0 -8px 16px 0 #d3d3d3;
  height: auto;
  vertical-align: middle;
	margin: 40px;
	padding: 10px;
  top: 50%;
}
.empty-space-2{
  height:200px;
  display: block;
}
@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
.bargraph-title{
  margin: 10px;
  font-weight: bold;
}
.bar-container{
  width: 80% !important;
  float: left;
  height: 100%;
  top: 50%;
  display: block;
  vertical-align: middle;
}
.con-container {
  background-color: #c3cbdc;
background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);

  margin: 0px !important;
  width: 95%;
  max-width: 320px;
  min-height: 568px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 9px 13px 0px black;
  -moz-box-shadow: 0px 9px 13px 0px black;
  box-shadow: 0px 9px 13px 0px black;
  -webkit-transform: scale(1);
}

.survey-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.survey-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

.take-survey-button {
  text-decoration: none;
  color: blue;
  padding: 16px 0 0 0;
  font-weight: bold;
}

.retake-survey-button {
  text-decoration: none;
  color: rgb(45, 19, 192);
}


.review-survey-button {
  text-decoration: none;
  color: blue;
  padding: 16px 0 0 0;
  font-weight: bold;
}

.centered-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
}

.panel-border{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.points-text{
  font-size: 80px;
  font-weight: bold;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.points-view{
  opacity: 0;
  align-self: center;
  width: 100%;
  height:auto;
}
.wrapper{
  position: relative;
}

.wrapper .panel-border{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 1;
}
.small-wrapper{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.footer{
  margin-bottom: 15px;
}
.footer-center{
  text-align: center;
}
.panel-row{
  flex-grow: 2;
  padding-bottom: 10%;
}

#other-survey-list-heading {
  padding-top: 50px;
  padding-bottom: 5px;
}

#description {
  padding-top: 5px;

}

#description-title {
  padding-bottom: 10px;
  text-align: center;
}

#milestone-progress-title {
  text-align: center;
  margin-bottom: 10px;
}

/* HOME PAGE */

.title {
  width: auto;
  position: relative;
  font-weight: bolder;
  font-size: 40px;
  font-weight: 700;
}
.inl {
  font-size: 15px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}