/* Navbar */
.inl-logo{
	height: 50px;
	width: auto;
}
.inl-logo:hover{
  pointer: cursor;
}
body {
	margin: 0px;
	font-family: 'segoe ui';
}
  
.nav-tab {
	color: #07519E;
	font-size: 18px;
	margin: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}
.nav-tab:hover{
	color:coral;
	transition: 0.2s;
}
.navbar-main{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	box-shadow: 0 0 5px grey;
}
.navbar-toggler{
	border: none !important;
}