.review-center-content{
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    display: block;
    width: 200px;
    padding: 10px;
    margin: auto;
}
.improvment-plan{
    margin-top: 0px !important;
}
.width-full{
    width: 100% !important;
}
.left-margin{
    margin-left: 48px !important;
}
.top-margin{
    margin-top: 48px !important;
}
.review-center-button {
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
}
.text-center-review {
    margin-top: 20px;
    padding: 0;
    justify-content: center;
    text-align: center;
    width:fit-content;
}