.tutorial-img {
  width:  300px;
  height: 300px;
  margin-bottom: 3rem;
  object-fit: contain;
}

.tutorial-modal-body{
  display: flex;
  justify-content: center;
}

.tutorial-modal{
  width: 50vw;
  height: 50vh;
}